[user]
	name = shinobu
	email = pekora@usada.io
	signingkey = pekora@usada.io
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
