[user]
	name = shinobu
	email = francis.yap@everymatrix.com
	signingkey = pekora@usada.io
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
